/Data
analyses_SPM/
.ipynb_checkpoints/
__pycache__/

# Python build artifacts
build/
dist/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Virtual environments
venv/
ENV/
env/
.venv
